#app {
    font-size: 35px;
}

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body, html {
    max-height: 100%;
    margin: 0;
}

body {
    padding: 20px;
}

ul {
    margin: 0;
    position: relative;
}

li {
    display: inline-block;
    padding: 5px;
    background: lightgray;
}

li + li {
    margin-left: 40px;
}
